/Richtx32.ocx
/Tabctl32.ocx
/mswsock.dll
/oleaut32.dll
/olepro32.dll
/MSCOMCT2.OCX
/MSCOMCTL32.OCX
/MSWINSCK.OCX
/MSWINSCN.OCX
/msinet.ocx
/msvbvm60.dll
/msvbvm60e.dll
*.txt
/COMCTL32.OCX
/cmcs21.ocx
/comcat.dll
